$dark-color:#444444;
$black-color: #111111;
$black-text:#222222;
$main-green:#68b738;
$dark-green:#5eaa2f;
$grey-color:#f2f2f2;
$red-color:#ff8282;
$white-color:#ffffff;

$mobile-width:320px;
$tablet-width:768px;
$desktop-width:1440px;