.about{
  background-image: linear-gradient(to top, $white-color 200px, transparent 200px), url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size:auto;
  height: 500px;
  background-position:  bottom, top;
  position: relative;
}

.about__flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
}

.about__title{
  font-family: Oswald, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white-color;
  text-align: center;
  padding: 0;
  margin: 0;
}

.about__descript{
  font-family: Oswald, sans-serif;
  font-size: 14px;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.about__img{
  width: 280px;
  vertical-align: center;
}

.about__button{
  min-width: 245px;
  order: 5;
}

@media (min-width: $tablet-width) {
  .about{
    width: 768px;
    background-image: none;
    height: 700px;
    margin: 0 auto;
  }

  .about__title{
    font-size: 60px;
    color: $black-color;
    line-height: 60px;
    text-align: left;
  }

  .about__descript{
    color: $dark-color;
    font-size: 20px;
    text-align: left;
    margin-top: 40px;
    padding: 0;
  }

  .about__flex{
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 60px;
    margin: 0 auto;
    align-items: self-start;
  }

  .about__button{
    order: 0;
    margin-top: 45px;
  }

  .about__img{
    position: absolute;
    z-index: -1;
    top:250px;
    width: 550px;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width){
  .about{
    width:1440px;
    background-image: linear-gradient(to right, $white-color 50%, transparent 50%), url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    height: 700px;
    background-position: left,right;
    position: relative;
    margin: 0 auto;
  }

  .about__flex{
    padding-top: 100px;
    padding-right: 185px;
    padding-left: 185px;
  }

  .about__img{
    z-index: 1;
    top:120px;
    left:580px;
    width: 500px;
  }

  .about__title{
    padding-top: 80px;
  }

  .about__button{
    margin-top: 50px;
  }
}