.catalog-item__info{
  font-size: 12px;
  color: $dark-color;
}

.catalog-item__feature{
  text-align: left;
}

.catalog-item__values{
  text-align: right;
}

.catalog-items{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

.catalog-item{
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid $grey-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.catalog-item__button{
  width: 100%;
}

.catalog-item__title br{
  display: none;
}

.catalog-item__info{
  width: 150px;
  margin-top: 10px;
}


@media (min-width: $tablet-width) {
  .catalog-item{
    border: none;
  }

  .catalog-items{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
  }

  .catalog-item{
    width: 324px;
    flex-direction: column;
    background-image: linear-gradient(to top, $grey-color 70%, $white-color 70%);
    padding: 40px;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  .catalog-item__button{
    margin-top: 30px;
  }

  .catalog-item__table{
    margin-top: 40px;
    text-align: center;
  }

  .catalog-item__title br{
    display:inline;
  }

  .catalog-item__info{
    width: 250px;
  }

  .catalog-item__info{
    border-collapse: collapse;
  }

  .catalog-item__info td{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}


@media (min-width: $desktop-width){
    .catalog-item{
    width: 240px;
    padding: 35px;
  }
  .catalog-items{
    padding-right: 110px;
    padding-left: 110px;
  }
}