.fields-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 320px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}


@media (min-width: $tablet-width) {
  .fields-flex{
    width: 768px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width){
  .fields-flex{
    width: 1440px;
    flex-direction: row;
    padding-right: 110px;
    padding-left: 110px;
  }
}