.form__goal{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.form__radio{
  display: none;
}

.label__radio{
  margin-top: 7px;
  margin-bottom: 7px;
  &::before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../../img/radiobutton.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: middle;
    margin-right: 20px;
  }
}

.form__radio:checked + .label__radio::before{
  background-image: url("../../img/radiobutton-active.png");
}

@media (min-width: $tablet-width) {
  .form__goal{
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid #d9d9d9;
  }
}

@media (min-width: $desktop-width){
  .form__goal{
    width: 50%;
  }
}