.page-header__logo{
  padding-right: 40px;
  &:hover,
  &:focus{
    opacity: 0.8;
    outline: none;
  }
  &:active{
    opacity: 0.6;
  }
}

.page-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.main-header-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
   .page-header{
     box-sizing: border-box;
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .main-header-flex{
    width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-right: 110px;
    padding-left: 110px;
    width: 1440px;
    box-sizing: border-box;
    padding-top: 40px;

    &--index {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 2;
    }
  }
}


