.form__field-textarea{
  height: 160px;

}
@media (min-width: $tablet-width) {
  .fields-flex{
    padding-right: 70px;
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width){
  .fields-flex{
    flex-direction: row;
    padding-right: 110px;
    padding-left: 110px;
  }
}